* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.background {
  background: url('https://img0.baidu.com/it/u=3850358639,1449968007&fm=253&app=138&size=w931&n=0&f=JPEG&fmt=auto?sec=1689613200&t=d7b7a9f6475d952efd38cd91539b9278')
    no-repeat center center/cover;
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: -1;
  filter: blur(20px);
